@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kosugi&family=Rubik+Microbe&family=Titan+One&display=swap');

/* style the navbar */
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(-90deg, #289522 23.3%, #7978FF 60%);
    position: fixed;

}

.left-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
}

#logo-img{
    width: 30px;
    padding: 0 12px;
}

#logo-title{
    font-family: 'Acme', sans-serif;
    color: white;
}

#nav-text{
    font-family: 'Rubik Microbe', cursive;
    color: white;
}

/* hero styling */

.hero{
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 30px;
    margin-top: 5rem;
}

.form{
    display: flex;
    flex-direction: column;

}
.top-form{
    display: flex;
    flex-direction: row;
}

#left-input{
    width: 50%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #7978FF;
    background-color: transparent;
    text-indent: 8px;
    margin: 14px 14px 14px 0;
    color: chocolate;
    font-family: 'Kosugi', sans-serif;
    font-size: 16px;
    height: 22px;
}

#right-input{
    width: 50%;
    height: 22px;
    font-size: 16px;
    text-indent: 8px;
    color: chocolate;
    background-color: transparent;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #7978FF;
    margin: 14px 0 14px 14px;
    font-family: 'Kosugi', sans-serif;
}

#get-meme-btn{
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #C47AFF 3.3%, #7978FF 100%);
    padding: 12px;
    margin: 18px 0 18px 0;
    border: 1px solid #4649FF;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family: 'Titan One', cursive;
    cursor: pointer;

}

#meme{
    width: 100%;
    border-radius: 12px;
}